include partials/header

div.container
	div.row
		.col-md-9.offset-md-1#loginBox
			
			div.account-wall
				ul
			- if (userDataMessage){
				p #{userDataMessage}
			-}else {	
				- for (var i = 0; i < poetryDataId.length; ++i) {
						a(href='/id/'+poetryDataId[i]) #{poetryDataAuthor[i]} - #{poetryDataTitle[i]}
						br
				- }
			-}
br
include partials/footer
